.site-content {
    section {
        width: 100%;
        overflow: auto;
        margin-bottom: (16 * $spacing-unit);

        @include breakpoint {
            margin-bottom: (6* $spacing-unit);
        }

        .site-main > article {
            > * {
                max-width: $layout__max-width;
                margin: 0 auto;
            }

            > footer, 
            > header {
                max-width: none;
                margin: 0;
            }           
        }
    }

    h3 {
        margin-top: 6 * $spacing-unit;
        margin-bottom: 2 * $spacing-unit;

        @include breakpoint {
            margin-top: 2 * $spacing-unit;
        }
    }

    h6 {
        font-weight: 300;   
        margin: 0;
        margin-bottom: 3 * $spacing-unit;
    }
}

.container { 
    max-width: $layout__max-width;
    width: 100%;
    margin: 0 auto;

    @include breakpoint {
        padding-right:2rem !important;
        padding-left:2rem !important;
        box-sizing: border-box;
    }
}