.site-content {
    section {
        width: 100%;
        overflow: auto;
        margin-bottom: (16 * $spacing-unit);

        .site-main > article {
            > * {
                max-width: $layout__max-width;
                margin: 0 auto;
            }

            > footer, 
            > header {
                max-width: none;
                margin: 0;
            }

            > header {
                height: auto;
                background: linear-gradient(0, #FFF 50%, $color__primary 50%);
                overflow: auto;
                padding-top: 1.2rem;

                h1 {
                    width: 48rem;
                    padding: 5rem 8rem 5rem 5rem;
                    box-sizing: border-box;
                    background-color: $color__fancy;
                    color: $color__primary;
                    font-size: 4rem;
                    font-weight: 300;
                    margin: 0;
                }
            }
        }
    }

    h3 {
        margin-top: 6 * $spacing-unit;
        margin-bottom: 2 * $spacing-unit;

        @include breakpoint {
            margin-top: 2 * $spacing-unit;
        }
    }

    h6 {
        font-weight: 300;   
        margin: 0;
        margin-bottom: 3 * $spacing-unit;
    }
}

.container { 
    max-width: $layout__max-width;
    width: 100%;
    margin: 0 auto;

    @include breakpoint {
        padding: 0 2rem;
        box-sizing: border-box;
    }
}