.wp-block-table { 
    border: $border;
    border-radius: 3px;
    margin-top: 5 * $spacing-unit;
    font-size: $text__s;
    font-weight: 600;

    tr {
        border-bottom: $border;
        font-weight: bold;
    
        &:first-child td{
            font-weight: bold !important;
            font-size: $text__xs;
            text-transform: uppercase;
        }
    }

    td {
        border: 0px;
        padding: 2 * $spacing-unit;
    }

    td:last-child {
        width: 124px;
        text-align: right;
    }

    td:nth-child(3) {
        width: 62px;
        text-align: right;
    }

    &.responsive-table {
        @include breakpoint {
            display: block;
            tbody, tr, td {
                display: block;
                width: 100%;
                box-sizing: border-box;
            }

            tr {
                padding: 1.5rem 2rem;
                &:first-child { display: none; }
                &:last-child { border-bottom: none; }
            }

            td {
                text-align: left;
                padding: .5rem 0;
            }
        }
    }
}