@import url("https://fonts.googleapis.com/css?family=Montserrat:300,500,600");
html {
  font-size: 62.5%; }

body {
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif;
  margin: 0px; }

.flex {
  display: flex; }

.flex-row {
  flex-direction: row; }

.flex-column {
  flex-direction: column; }

.flex-grow {
  flex-grow: 1; }

.my-0 {
  margin-top: 0px;
  margin-bottom: 0px; }

h1 {
  font-size: 5.2rem; }

h2 {
  font-size: 4.8rem; }

h3 {
  font-size: 2.8rem; }
  @media (max-width: 1024px) {
    h3 {
      font-size: 2.2rem; } }

h4 {
  font-size: 2.2rem; }

h5 {
  font-size: 2.0rem; }

h6 {
  font-size: 1.6rem; }

header.site-header {
  background-color: #333643;
  color: #fff;
  padding-top: 6rem;
  padding-bottom: 6rem;
  font-weight: 600; }
  @media (max-width: 1024px) {
    header.site-header {
      padding: 3rem 2rem; } }
  header.site-header .main-navigation, header.site-header .site-logo, header.site-header .site-title, header.site-header .social-navigation {
    display: inline-block;
    margin: 0; }
  header.site-header .site-logo {
    vertical-align: middle;
    margin-right: 0.5rem; }
    header.site-header .site-logo a {
      max-height: 34px; }
  header.site-header .site-title {
    font-size: 1.6rem;
    flex-grow: 1; }
  header.site-header .site-branding-container {
    margin: 0 auto;
    max-width: 964px;
    height: 38px;
    min-height: 38px;
    line-height: 19px; }
  header.site-header .site-branding {
    display: flex;
    flex-direction: row;
    align-items: center; }
  header.site-header .main-menu {
    height: 2rem; }
  header.site-header a {
    color: #fff;
    text-decoration: none;
    max-height: 26px; }
    header.site-header a .screen-reader-text {
      display: none; }
    header.site-header a svg {
      fill: #fff; }
  header.site-header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 1.4rem; }
    header.site-header ul > li {
      display: inline-block; }
      header.site-header ul > li.current-menu-item {
        padding-bottom: 0.7rem;
        border-bottom: 0.3rem solid #fff; }
      header.site-header ul > li a {
        display: inline-block;
        vertical-align: middle;
        text-transform: uppercase; }
  header.site-header .main-navigation li {
    margin: 0 1rem; }

footer {
  background-color: #333643;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 300;
  padding: 10rem 0; }
  footer .contact {
    max-width: 964px;
    margin: 0 auto; }
    footer .contact .flex > div {
      flex-basis: 33%;
      margin: 0 1rem; }
      footer .contact .flex > div:first-child {
        margin-left: 0; }
      footer .contact .flex > div:last-child {
        margin-right: 0; }
  footer h6 {
    margin: 0; }
  footer a {
    color: #fff;
    text-decoration: none; }
  footer p {
    margin-top: 2rem;
    margin-bottom: 2rem;
    line-height: 26px; }
  footer.entry-footer {
    display: none; }

.site-content section {
  width: 100%;
  overflow: auto;
  margin-bottom: 16rem; }
  .site-content section .site-main > article > * {
    max-width: 964px;
    margin: 0 auto; }
  .site-content section .site-main > article > footer,
  .site-content section .site-main > article > header {
    max-width: none;
    margin: 0; }
  .site-content section .site-main > article > header {
    height: auto;
    background: linear-gradient(0, #FFF 50%, #333643 50%);
    overflow: auto;
    padding-top: 1.2rem; }
    .site-content section .site-main > article > header h1 {
      width: 48rem;
      padding: 5rem 8rem 5rem 5rem;
      box-sizing: border-box;
      background-color: #B7D9D7;
      color: #333643;
      font-size: 4rem;
      font-weight: 300;
      margin: 0; }
.site-content h3 {
  margin-top: 6rem;
  margin-bottom: 2rem; }
  @media (max-width: 1024px) {
    .site-content h3 {
      margin-top: 2rem; } }
.site-content h6 {
  font-weight: 300;
  margin: 0;
  margin-bottom: 3rem; }

.container {
  max-width: 964px;
  width: 100%;
  margin: 0 auto; }
  @media (max-width: 1024px) {
    .container {
      padding: 0 2rem;
      box-sizing: border-box; } }

.wpforms-container form label, form label {
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 24px;
  margin-bottom: 1rem; }
.wpforms-container form input, .wpforms-container form textarea, form input, form textarea {
  border: 1px solid #B7D9D7;
  border-radius: 2px; }
  .wpforms-container form input:focus, .wpforms-container form textarea:focus, form input:focus, form textarea:focus {
    outline: none; }
.wpforms-container form input, form input {
  height: 5rem;
  padding: 1rem;
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem; }
.wpforms-container form .wpforms-field, form .wpforms-field {
  padding: 0;
  margin-bottom: 3rem; }
.wpforms-container form .wpforms-submit-container, form .wpforms-submit-container {
  padding: 0; }

button,
a.wp-block-button__link,
a.wp-block-button__link:hover {
  background: #fff;
  color: #333643;
  border: 2px solid #333643;
  height: 5rem;
  border-radius: 2.5rem;
  font-size: 1.6rem;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  padding-left: 3rem;
  padding-right: 3rem;
  box-sizing: border-box; }

.wp-block-button {
  margin: 0; }

.wp-block-table {
  border: 1px solid #CCCDD0;
  border-radius: 3px;
  margin-top: 5rem;
  font-size: 1.4rem; }
  .wp-block-table tr {
    border-bottom: 1px solid #CCCDD0;
    font-weight: bold; }
    .wp-block-table tr:first-child td {
      font-weight: bold !important;
      font-size: 1.3rem;
      text-transform: uppercase; }
    .wp-block-table tr td:nth-child(2) {
      font-weight: 300; }
  .wp-block-table td {
    border: 0px;
    padding: 2rem; }
  .wp-block-table td:first-child {
    width: 206px; }
  .wp-block-table td:last-child {
    width: 124px;
    text-align: right; }
  .wp-block-table td:nth-child(3) {
    width: 62px;
    text-align: right; }

.events__header {
  height: auto;
  background: linear-gradient(0, #FFF 50%, #333643 50%);
  overflow: auto;
  padding-top: 1.2rem; }
  .events__header h1 {
    width: 48rem;
    padding: 5rem 8rem 5rem 5rem;
    box-sizing: border-box;
    background-color: #B7D9D7;
    color: #333643;
    font-size: 4rem;
    font-weight: 300;
    margin: 0; }
  @media (max-width: 1024px) {
    .events__header {
      padding-top: 2rem;
      padding-bottom: 2rem;
      background: #B7D9D7; }
      .events__header h1 {
        width: 100%;
        font-size: 3rem;
        padding: 0; } }

.event {
  color: #333643;
  margin-top: 13rem; }
  .event > .flex {
    margin-bottom: 5rem; }
  @media (max-width: 1024px) {
    .event {
      margin-top: 6rem; }
      .event > .flex {
        flex-direction: column;
        margin-bottom: 2rem; } }

.event__title {
  font-size: 3.2rem;
  font-weight: 300;
  flex-grow: 1;
  margin: 0px 2rem 0 0 !important; }
  @media (max-width: 1024px) {
    .event__title {
      font-size: 2.8rem;
      margin-right: 0; } }

.event__info {
  width: 300px;
  max-width: 300px;
  font-size: 1.8rem; }
  @media (max-width: 1024px) {
    .event__info {
      width: 100%;
      max-width: 100%;
      margin-top: 2rem; } }
  .event__info > span {
    display: inline-block;
    width: 50%;
    padding: 2rem;
    box-sizing: border-box;
    text-align: center;
    border: 2px solid #B7D9D7; }
    .event__info > span.event__info__date {
      width: 100%; }
    .event__info > span:nth-child(2) {
      border-top: none; }
    .event__info > span:nth-child(3) {
      border-top: none;
      border-left: none; }

.event__description {
  font-size: 1.6rem;
  font-weight: 300;
  flex-grow: 1; }

.event__image,
.tribe-events-event-image {
  width: 300px; }
  .event__image img,
  .tribe-events-event-image img {
    width: 100%;
    max-width: 100%; }
  @media (max-width: 1024px) {
    .event__image,
    .tribe-events-event-image {
      display: none; } }

/*# sourceMappingURL=style.css.map */
